<header class="text-white flex justify-between h-[50vh] px-10 py-5 bg-[#202426]">
  <!-- div with two columns - here is the first column that will have 2 rows -->
  <div class="grid-rows-2 gap-y-4 w-3/4 py-5 px-20">
    <!-- Navigation Links -->
    <nav class="flex space-x-2">
      <a href="#home" class="hover:text-gray-300">Home</a>
      <a href="#gallery" class="hover:text-gray-300">Gallery</a>
      <a href="#about" class="hover:text-gray-300">About</a>
      <a href="#contact" class="hover:text-gray-300">Contact</a>
    </nav>

    <!-- Logo and Title -->
    <div class="flex flex-col items-center text-left py-10  text-9xl font-bold text-white
    text-base sm:text-lg md:text-xl lg:text-7xl xl:text-9xl">
      <h1>
        Wosniack
      </h1>
      <h1>
        <span class="text-red-500"> Art</span> Works
      </h1>
      <p class="text-sm mt-4">Expressing The Beauty Of Nature Through Art</p>
    </div>
  </div>

  <!-- second column -->
  <div class="flex justify-end w-1/4 header-background ">
  </div>
</header>