<header class=" bg-[#202426]">
  <!-- Navigation Links -->
  <nav class="text-white flex space-x-3 py-4 px-5 bg-black">
    <a href="#home" class="hover:text-gray-300">
      <img class="rounded-t-lg invert w-10" src="assets/images/header/logo.png" alt="" />
    </a>
    <a href="#gallery" class="hover:text-gray-300">Gallery</a>
    <a href="#about" class="hover:text-gray-300">About</a>
    <a href="#contact" class="hover:text-gray-300">Contact</a>
  </nav>

  <div class=" text-white items-center flex h-[50vh] justify-between">
    
  <!-- div with two columns - here is the first column that will have 2 rows -->
  <div class="grid-rows-2 gap-y-4 w-3/4 py-5 px-20">
    <!-- Logo and Title -->
    <div class="flex flex-col text-center">
      <div class="text-white font-bold text-base sm:text-lg md:text-6xl lg:text-7xl xl:text-9xlxl">
        <h1>
          Wosniack
        </h1>
        <h1>
          <span class="text-red-500"> Art</span> Works
        </h1>
      </div>
      <p class="text-lg mt-4">Animals and Landscapes in Acrylic and Oil</p>
    </div>
  </div>

  <!-- second column -->
  <div class="flex justify-end w-1/4 ">
    <img src="assets/images/header/goose-10_10.jpg" class="rounded-full px-5">
  </div>
</div>
</header>