<header class="bg-[#202426]">
  <!-- Navigation Links -->
  <nav class="text-white flex space-x-3 py-5 px-5 bg-black">
    <a href="#home" class="hover:text-gray-300">
      <img class="rounded-t-lg invert w-10" src="assets/images/header/logo.png" alt="" />
    </a>
    <a href="#gallery" class="hover:text-gray-300">Gallery</a>
    <a href="#about" class="hover:text-gray-300">About</a>
    <a href="#contact" class="hover:text-gray-300">Contact</a>
  </nav>

  <!-- header row containing two columns: text left and image right -->
  <div class="flex justify-center space-x-[10%] lg:columns-2 sm:columns-1 items-center h-[50vh]">
    <!-- first column -->
    <div class="text-center text-white font-bold lg:text-7xl text-6xl">
      <h1>Wosniack</h1>
      <h1>
        <span class="text-red-500"> Art</span> Works
      </h1>
      <p class="pt-4 text-sm font-extralight">Painting is my Hobby and here I show some of my favorite works!</p>
    </div>

    <!-- second column -->
      <img src="assets/images/header/goose-10_10.jpg" class="lg:h-[90%] sm:h-[65%] rounded-full sm:block hidden">
  </div>
</header>

