<footer id="footer">
    <div class="h-[30vh] bg-gray-800 ">
        <div class="flex h-[90%] text-white columns-3 justify-between text-center">
            <div class="bg-gray-700 w-1/3 m-2 ml-4">1</div>
            <div class="bg-gray-700 w-1/3 m-2">2</div>
            <div class="w-1/3 m-2 mr-4">
                <h1 class="font-semibold uppercase">About me</h1>
                <div class="flex columns-2 justify-between text-center gap-2">
                    <div class="w-2/3  mt-6 font-thin text-left text-sm">
                        <p>I move to Germany in 2021 to pursue my master's in Automotive Engineering and discover my
                            passion for painting 1 year after moving. I started with acrylic painting and since the
                            beginning I enjoyed painting animals and landscapes. </p>
                        <p class="mt-2">This page is where I share my collection of paintings and also to have fun with
                            coding and web-development :D</p>
                        <p class="mt-2">Hope you enjoy and feel free to contact me via <span
                                class="underline text-blue-300 hover:text-blue-500">wosniack.isabella&#64;gmail.com</span>
                        </p>
                    </div>
                    <div class="w-1/3 ">
                        <img src="assets\images\aboutme\aboutme.png" class="w-full rounded-full object-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-end">
            <p class="text-white text-center"> Copyright ©2025. Isabella Wosniack. All rights reserved. </p>
        </div>
    </div>
</footer>