::ng-deep .mat-dialog-container {
    width: 100% !important;  /* Ensure it takes the full width */
    height: 100% !important; /* Ensure it takes the full height */
    display: flex;
    justify-content: center;
    align-items: center;
  }